{% extends "layout.html" %}

{% block content %}

<h1>Games</h1>

<div class="exemplo">

    <!--<exemplo></exemplo>-->

    <!--
    <table class="table">
        <thead>
            <th>Game</th>
            <th>Plataforma</th>
        </thead>

        <tbody>
            {% for game in games %}
                <tr>
                    <td>{{ game.titulo }}</td>
                    <td>{{ game.plataformas }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    -->
</div>

{% endblock %}